/* SplashScreen.css */
.splash-screen-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Take up 100% of the viewport height */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.splash-image {
    width: 100%;  /* Make the image take up the full width */
    height: 100%; /* Make the image take up the full height */
    object-fit: cover; /* Ensure the image covers the full screen area without distorting */
}
